# Local secrets & notebooks
.env
.ipynb_checkpoints/

# Data & models (keep out of Git)
data/*
!data/prolific_stimuli/
!data/prolific_stimuli/**
!data/prolific_stimuli/profiles/
!data/prolific_stimuli/profiles/**
data/prolific_stimuli/stimulus_table_counterfact.csv
data/prolific_stimuli/stimulus_table_image_priors.csv
data/prolific_stimuli/stimulus_table_shapes.csv
data/prolific_stimuli/stimulus_table_counterfact_prolific.csv
data/prolific_stimuli/stimulus_table_image_priors_prolific.csv
data/prolific_stimuli/stimulus_table_shapes_prolific.csv
data/prolific_stimuli/stimulus_table.parquet

segment-anything-2/
checkpoints/
__pycache__/
making_color_images/__pycache__/
*.pt
*.pth
*.ckpt
*.onnx
*.bin
*.tar
*.zip

# Styling images for prolific
prolific_study/static/img/*
!prolific_study/static/img/Brown_Logo.png
!prolific_study/static/img/Tuebingen_Logo.png
!prolific_study/static/img/UTAustin_Logo.png
prolific_study/static/dataset/
prolific_study/data/
prolific_study/results/

corrupt_images.txt
env_before_openai_upgrade.yml
