# Local secrets & notebooks
.env
.ipynb_checkpoints/

# Data & models (keep out of Git)
data/
segment-anything-2/
checkpoints/
__pycache__/
making_color_images/__pycache__/
*.pt
*.pth
*.ckpt
*.onnx
*.bin
*.tar
*.zip

# Styling images for prolific
prolific-study/static/img/
prolific-study/static/data/

